<div class="row">
    <div class="col-6-xs">
        <div class="input-container">
            <input type="text" placeholder="Serviço">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Valor Mínimo">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Quantidade de horas">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Porcentagem">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Horas por quarto">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Valor por quarto">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Horas por sala">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Valor por sala">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Horas por banheiro">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Valor por banheiro">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Horas por cozinha">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Valor por cozinha">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Horas por quintal">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Valor por quintal">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Horas por outros">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Valor por outros">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Ícone">
        </div>
    </div>
    <div class="col-6-xs">
        <div class="input-container">
            <input type="number" placeholder="Posição">
        </div>
    </div>
    <div class="col-6-xs mb-1">
        <div class="input-container">
            <button class="btn btn-green" type="submit">Salvar</button>
        </div>
    </div>
</div>