<section class="sidebar pt-1" id="sidebar" th:fragment="sidebar">
    <a class="brand" href="#">jdiaristas</a>
    <ul class="sidebar-menu">
        <li>
            <a href="">
                <span class="material-icons">
                    dashboard
                </span>
                Visão Geral
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-icons">
                    cleaning_services
                </span>
                Serviços
            </a>
        </li>
        <li>
            <a href="">
                <span class="material-icons">
                    calendar_month
                </span>
                Diárias
            </a>
        </li>
    </ul>
</section>